@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Basic Styling */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }
 /*breadcrumb*/

ul.breadcrumb {
  padding: 10px 16px;
  padding-left: 5rem;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  color: #3a4731;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: #3a4731;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #86939E;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #3a4731;
  text-decoration: underline;
} 


  /* Columns */

.container {  
    max-width: 1200px;
    max-height: 700px;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "product-imgs product-description";  
}  
  
  .product-imgs { 
    grid-area: product-imgs;
    margin: 2rem; 
  }
  
  .product-description { 
    grid-area: product-description; 
  }
  
img{
    width: 90%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 90%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 102%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
  
  /* Product Description */

  .product-right{
    padding-top: 16rem;
    padding-left: 4rem;
  }
  .product-description {
    margin-bottom: 20px;
  }

  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #3a4731;
  }
  .product-description p {
    font-size: 18px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
    padding-bottom: 2rem;
  }
  
  /* Product Configuration */
  .product-color span,
  .cable-config span {
    font-size: 14px;
    font-weight: 400;
    color: #86939E;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  /* Product Color */
  .product-color {
    margin-bottom: 30px;
  }

  .color-choose{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .color-choose div {
    display: inline-block;
  }
  
  .color-choose input[type="radio"] {
    display: none;
  }
  
  .color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -1px 18px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .color-choose input[type="radio"] + label span {
    border: 1px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }
  
  .color-choose input[type="radio"]#beige + label span {
    background-color: #8a7856;
  }
  .color-choose input[type="radio"]#grey + label span {
    background-color: #bbbaab;
  }
  .color-choose input[type="radio"]#black + label span {
    background-color: #454538;
  }

  
  /* Product Price */
  .product-price {
    display: flex;
    align-items: center;
  }
  
  .product-price span {
    font-size: 4.5rem;
    font-weight: 600;
    color: #3a4731;
    margin-right: 20px;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  /*product details*/
  
  .product-details{
      background-color: rgb(226 218 213);
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
          grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 3.5rem;
  }

  .product-details h3{
      font-family: dream;
      font-size: 3rem;
      font-weight: 100;
      text-decoration: underline;
      text-decoration-line: ;
      color: rgb(100 99 79);
  }

  .product-details p{
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(100 99 79);
  }

.content li{
  font-family: 'Poppins';
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(100 99 79);
}

  .product-about{
    width: 65%;
    position: relative;
  }

  .product-about p{
    font-weight: 400;
  }

  /*product details collapsible menu*/

.product-text{
      position: relative;
}

.product-text a{
    font-size: 1.4rem;
    color: rgb(100 99 79);
    padding: 0;
    display: block;
}

.product-text button{
  border-radius: 0;
  font-weight: 500;
}

.collapsible {
  background-color: rgb(226 218 213);
  color: rgb(100 99 79);
  cursor: pointer;
  padding: 18px 18px 18px 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #bbbaab74;
}

.collapsible:after {
  content: '\002B';
  color: rgb(100 99 79);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}




/*back button*/

input[type="button"]{
    color: rgb(100 99 79);
    background-color: #fff;
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 5rem;
}

input[type="button"]:hover{
    text-decoration: underline;
}

/*overlay success message*/

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

button {
  display: inline-block;
  background-color:rgb(181 119 76);
  border-radius: 3rem;
  font-family: 'Poppins';
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
button:hover {
  background-color: rgb(196, 154, 126);
}


  /* Responsive */
  @media (max-width: 940px) {
    .container{
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "product-imgs"
          "product-description";
        max-height: max-content;
      }
      
      .product-imgs { 
        grid-area: product-imgs;
       }
      
      .product-description {
        grid-area: product-description; 
      }

      .product-right{
        padding-top: 5rem;
      }
    
    }

      /*
      margin: 10px;
      display: grid;
      grid-template-columns: 5.3fr;
      grid-template-rows: 0.5fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "left-column"
        "right-column";

    }
    .left-column { grid-area: left-column; }
  
    .right-column { grid-area: right-column; }
    .left-column{
          width: 100%;
          overflow: hidden;
        }
        .right-column {
          width: 100%;
        }
      
        .left-column img{
          width: 400px;
          height: 240px;
          left: -7%;
          object-fit: cover;
          overflow: hidden;
        }
    }

    
  
  
  @media (max-width: 535px) {
    .left-column img {
      object-fit: cover;
      width: 320px;
      height: 240px;
      left: -5%;
      top: -5%;
      overflow: hidden;
    }
  }
  */