@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.order section{
    margin: 2rem;
    padding: 2rem;
}

.order-success h1{
    font-family: dream;
    font-size: 5rem;
    color:#3a4731;
    padding-bottom: 3rem;
}

.success-note span{
    padding-top: 1rem;

}

.success-note p{
    font-size: 1.5rem;
    font-family: 'Poppins';
    color:#3a4731;
    padding-right: 20%;
    padding-top: 2rem;
}


.shop-btn{
    background-color:rgb(181 119 76);
    border-radius: 3rem;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
}

.shop-btn:hover {
    background-color: rgb(196, 154, 126);

}

input[type="button"]{
    color: rgb(100 99 79);
    background-color: #fff;
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover{
    text-decoration: underline;
}

hr{
    padding-bottom: 5rem;
}

li{
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: #3a4731;
    padding-top: 2rem;
}

@media (max-width: 991px) {
    section {
      padding: 3rem 2rem;
    }

    .shop-btn{
        font-size: 1.5rem;
        padding: 1.5rem;
    }

    input[type="button"]{
        font-size: 1.5rem;
    }
  }